:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #fbf9f1;
    background-color: #dcf2f1;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 1.3em;
}

span {
    margin: 0 10px;
}

input,
textarea {
    font-family: inherit;
    font-size: 1em;
    height: 40px;
    width: 90%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: block;
    border: 2px #0f1035 solid;
    border-radius: 6px;
    outline: none;
}

textarea {
    height: 80px;
}

label {
    font-size: 1.2em;
}

button {
    color: #dcf2f1;
    border: none;
}
